name: nina-api

services:
  postgres:
    container_name: postgres
    image: postgres
    ports:
      - 5433:5432
    environment:
      POSTGRES_USER: root
      POSTGRES_PASSWORD: root
      POSTGRES_DB: project
    volumes:
      - ./docker/data/postgres:/var/lib/postgresql/data
    networks:
      - infra-network
    restart: always

  server:
    container_name: server
    build:
      context: .
      dockerfile: ./Dockerfile
    ports:
      - 8000:8000
    depends_on:
      - postgres
    networks:
      - infra-network
    environment:
      - DATABASE_URL=postgresql://root:root@postgres:5432/project

networks:
  infra-network:
    driver: bridge